.footer__main {
  margin: 100px 0 49.5px 0;
  padding-top: 110px;
}

.footer__main-logo {
  margin-bottom: 61px;
  display: flex;
  justify-content: center;
}

.footer__nav {
  display: flex;
  justify-content: center;
}

.footer__nav-list {
  display: flex;
  column-gap: 26px;
}

.footer__main-list-link {
  font-weight: 400;
  color: #E4E4E7;
}